<router-outlet></router-outlet>
<!--
<mat-toolbar color="primary" class="header-box-shadow">
    <ng-container>
        <div id="menu-toggle-and-brand" class="d-flex">
            <button fxFlex="0 0 auto" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
            <a id="toolbar-logo" mat-button fxFlex="0 0 auto" color="white" routerLink='/'>
                <img src="/assets/images/logo.png" class="mr-2" alt="logo">
                <span>{{'app.title' | translate}}</span>
            </a>
        </div>
    </ng-container>
</mat-toolbar>

<mat-sidenav-container class="d-flex flex-column flex-grow-1 flex-shrink-0">
    <mat-sidenav #sidenav [mode]="sidenavOverMode" [opened]="!isSmallScreen" class="bottom-to-top" [fixedInViewport]="isSmallScreen" [fixedTopGap]="56">
    </mat-sidenav>

    <mat-sidenav-content class="d-flex flex-column flex-grow-1 flex-shrink-0">
        <div id="content" class="d-flex flex-grow-1 flex-shrink-0">
            <div class="container-fluid d-flex flex-column">
                <div class="row flex-fill">
                    <div class="col-sm-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
-->