:host {
    // make the component span the whole viewport
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // equivalent to fxFlex fxLayout='column'
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    mat-sidenav {
        width: 300px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    mat-sidenav-content {
        #content {
            padding: 1em 0 0 0;
        }
    }
    mat-sidenav-container,
    .mat-drawer-container {
        flex: 1;
        background-color: white !important;
        //background-color: mat-color($mat-grey, 50);
    }
    &.small-device {
        >mat-toolbar {
            position: fixed;
            /* Make sure the toolbar will stay on top of the content as it scrolls past. */
            z-index: 2;
        }
        mat-sidenav-container {
            flex: 1 0 auto;
            margin-top: 56px;
        }
    }
}