@import 'assets/scss/theme';
@import 'assets/scss/bootstrap/bootstrap';
@import 'assets/scss/dialogs.scss';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}